%table.table
  %thead
    %tr
      %th.center
        ID
      %th
        Subject Line
      %th
        Sent
      %th
        Sent At
      %th
        Opens
      %th
        Unique Opens
      %th
        Clicks
      %th
        Actions
      %th
        Unsubs
      %th
        Complaints
      %th
        Bounces
      %th
        Revenue
      - if !local_assigns[:show_graphit]
        %th
          Graph It!
    - if @rows.any?
      %tbody
        - counter = 0
        - display = true
        - @rows.each_with_index do |r, index|
          - if email_class(@rows, r, index) != "email-subject"
            - zebra = (counter % 2 == 0 ? ' even' : ' odd')
            - counter += 1
          - else
            - zebra = ''

          - # this is hacky, but determines if the subject is a dup of the main mailing on a detail page
          - if email_class(@rows, r, index) == "email-subject" && @rows.size == 2 && email_class(@rows, r,index) != 'email-agg' && !local_assigns[:overview]
            - display = false

          - if display
            %tr{ :title => "Mailing Id #{r['mailing_id']}",
                 :class => "#{email_class(@rows, r, index)} #{zebra} #{show_subject}",
                 :data => { :mailing_id => r['mailing_id'],
                            :sent_at => r['started_at'] } }
              - if email_class(@rows, r, index) != "email-subject"
                %td
                  = link_to "#{r['mailing_id']}", "/email/#{r['mailing_id']}/detail"
                  = link_to("https://#{current_client.ak_domain}/mailings/reports/#{r['mailing_id']}", :target => '_blank') do
                    %span.glyphicon.glyphicon-link{:title => "View mailing on Actionkit"}
              - else
                %td

              - if email_class(@rows, r,index) == 'email-agg'
                %td.show-subjects
                  %span.glyphicon.glyphicon-plus
                  Notes: #{r["notes"]}
              - else
                %td.subject
                  - if r['subject_id'] == '0'
                    = link_to "#{@rows[index + 1]["subject"]}", "/email/#{r['mailing_id']}/detail"
                  - else
                    = link_to "#{r["subject"]}", "/email/#{r['mailing_id']}/detail"

              %td
                = number_with_delimiter(r["sent"], :delimiter => ',')
              %td
                = DateTime.parse(r['started_at']).strftime('%b %d, %Y %I:%M%p')
              %td
                = number_with_delimiter(r["opens"], :delimiter => ',')
                = "(#{pct(r["opens"], r["sent"])})"
              %td
                = number_with_delimiter(r["opens_unique"], :delimiter => ',')
                = "(#{pct(r["opens_unique"], r["sent"])})"
              %td
                = number_with_delimiter(r["clicks"], :delimiter => ',')
                = "(#{pct(r["clicks"], r["sent"])})"
              %td
                = number_with_delimiter(r["actions"], :delimiter => ',')
                = "(#{pct(r["actions"], r["sent"])})"
              %td
                = number_with_delimiter(r["unsubs"], :delimiter => ',')
                = "(#{pct(r["unsubs"], r["sent"])})"
              %td
                = number_with_delimiter(r["unsub_complaints"], :delimiter => ',')
                = "(#{pct(r["unsub_complaints"], r["sent"])})"
              %td
                = number_with_delimiter(r["unsub_bounces"], :delimiter => ',')
                = "(#{pct(r["unsub_bounces"], r["sent"])})"
              %td
                = number_to_currency(r["revenue"])

              - if !local_assigns[:show_graphit]
                %td
                  - unless email_class(@rows, r,index) == "email-subject"
                    %input.graph-ts.mailing-id{:type => "checkbox", :value => r["mailing_id"]}
    - else
      %tbody
        %tr
          %td{:colspan => '12'}
            Sorry, No rows returned!
