.row
  %div.chart-header-custom
    %div.summary
      %p
        %br
      %p
        %strong
          Subject:
        #{@mailing.notes},
        -# if local_assigns[:show_label]
        -#  = "[#{show_label}]"
        %strong
          Author:
        #{@mailing.author.first_name} #{@mailing.author.last_name}
      %p
        %strong
          Sent:
        #{@mailing.started_at.in_time_zone(current_user.tz).strftime('%b %d, %Y %I:%M%p')},
        %strong
          Size (actuals/scheduled):
        #{@mailing.progress}/#{@mailing.expected_send_count}
        =# link_to(name = "details")

  - if (show_chart)
    %div.col-md-8
      //Time Series Chart will go here.
