= render partial: "detail_tabs", locals: {show_context_label: @mailing.id}
= render partial: "mailing_summary", locals: {show_chart: true}

.row
  %div#MailingDetailEventChart
  %div#MailingDetailUnsubChart

%table.table
  = render partial: "list_table", locals: { show_subject: 'show-subject', show_graphit: "false"}


%a{:name => "details"}
.row
  .col-lg-3.text-center
    .panel.panel-default
      .panel-heading
        Targeting
      .panel-body.text-left
        %strong
          Count:
        #{@mailing.expected_send_count}
        %br
        %strong
          Limit:
        #{@mailing.limit}
        %br
        %strong
          Sort:
        #{@mailing.sort_by}

    -# sent
    .panel.panel-default
      .panel-heading.text-center
        Delivery
      .panel-body.text-left
        %strong
          Status:
        #{@mailing.status}
        %br
        %strong
          Queued by:
        #{@mailing.queuer.first_name} #{@mailing.queuer.last_name}
        %br
        %strong
          Queued at:
        #{@mailing.queued_at.in_time_zone(current_user.tz).strftime('%b %d, %Y %I:%M%p')}
        - if @mailing.scheduler.present?
          %br
          %strong
            Scheduled by:
          #{@mailing.scheduler.first_name} #{@mailing.scheduler.last_name}
          %br
          %strong
            Scheduled at:
          #{@mailing.scheduled_for.in_time_zone(current_user.tz).strftime('%b %d, %Y %I:%M%p')}
        %br
        %strong
          Send Rate:
        #{@mailing.rate}

    -# tags
    - if @mailing.tags.size > 0
      .panel.panel-default
        .panel-heading.text-center
          Tags
        .panel-body.text-left
          #{@mailing.tags.collect{|t| t.name}.join(', ') }

  -# HTML
  .col-lg-9.text-left
    .panel.panel-default
      .panel-heading.text-center
        HTML
      .panel-body
        #{@mailing.html}



-# tags


-# page
- if @mailing.page.present?
  .div.panel.panel-warning
    .div.panel-heading
      Landing Page
    .div.panel-body
      = link_to "#{@mailing.page.title}", "/page/#{@mailing.page.id}/detail"


:javascript
  window.Page = 'mailingDetail';
  
  window.Data = {};
  Data.mailingDetailSummary = #{@summaryChartData};
  Data.aggregate = {
    '-1':  #{@week_agg}[0],
    '-2':  #{@month_agg}[0],
    '-3':  #{@qtr_agg}[0],
    '-4':  #{@year_agg}[0]
  };
  
= javascript_include_tag 'dimple'
= javascript_include_tag 'detail'
