= render partial: "detail_tabs", locals: {show_context_label: @mailing.id}
= render partial: "mailing_summary", locals: {show_chart: true}

%div.chart
  %div#MailingDomainsTimeSeriesChart

%div.panel.panel-default
  %table.table
    %thead
      %tr
        %th
          Domain
        %th
          Sent
        %th
          Opens
        -#%th
          Unique Opens
        %th
          Clicks
        -#%th
          Unique Clicks
        %th
          Actions
        %th
          Unsubs
        %th
          Complaints
        %th
          Bounces
        %th
          Revenue
        %th
          Graph It!
    %tbody
    - count = 0;
    - @domain_rows.each_with_index do |r, index|
      %tr
        %td{:class => r["domain"] == "other" ? "other-cell" : nil } 
          = r["domain"] == 'other' ? "everything else" : r["domain"] #TODO: replace 'other' with 'everything else' in DB with next migrations
        %td
          = number_with_delimiter(r["sent"], :delimiter => ',')
          ="(#{pct(r["sent"], @mailing.progress)})"
        %td
          = number_with_delimiter(r["opens"], :delimiter => ',')
          ="(#{pct(r["opens"], r["sent"])})"
        -#%td
          = r["opens_unique"]
          ="(#{pct(r["opens_unique"], r["sent"])})"
        %td
          = number_with_delimiter(r["clicks"], :delimiter => ',')
          ="(#{pct(r["clicks"], r["sent"])})"
        -#%td
          = r["clicks_unique"]
          ="(#{pct(r["clicks"], r["sent"])})"
        %td
          = number_with_delimiter(r["actions"], :delimiter => ',')
          ="(#{pct(r["actions"], r["sent"])})"
        %td
          = number_with_delimiter(r["unsubs"], :delimiter => ',')
          ="(#{pct(r["unsubs"], r["sent"])})"
        %td
          = number_with_delimiter(r["unsub_complaints"], :delimiter => ',')
          ="(#{pct(r["unsub_complaints"], r["sent"])})"
        %td
          = number_with_delimiter(r["unsub_bounces"], :delimiter => ',')
          ="(#{pct(r["unsub_bounces"], r["sent"])})"
        %td
          = number_to_currency(r["revenue"])
        %td
          %input.graph-ts.domain-id{:type => "checkbox", :value => r["id"], :checked => (count += 1) <= 5 ? true : nil}

= javascript_include_tag "dimple"
= javascript_include_tag "domains"
