= render partial: "detail_tabs", locals: {show_context_label: @mailing.id}
= render partial: "mailing_summary", locals: {show_chart: true}

%div.panel.panel-default
  %table.table
    %thead
      %tr
        %th{:width => "200px"}
        %th
          Link number
        %th
          URL
        %th
          Clicks
        %th{:width => "200px"}
    %tbody
    - @links.each do |l|
      %tr
        %td
        %td
          = l["link_number"]
        %td
          %span{:style => "text-align: left;"}
            = l["url"]
        %td #{l["clicks"]} (#{l["pct"]}%)
        %td
 
:javascript
  var mailingPageType = "mailingLinks",
      mailingLinksData = #{@links.to_json};


