%div.h3-hdr
  Client organizations

-# TODO: add restriction here, do not show if not cel employee

%div.create-style
  = link_to '+{new client}', new_admin_client_path

%p
  %br

.span8
  %table.table.table-condensed

    %tr
      %th Active
      %th Admin
      %th Name
      %th AK Schema name
      %th CC Schema name
      %th Domain
      %th AK Domain
      %th User
      %th Email
      %th
      %th
      %th

    - @clients.each do |client|
      %tr
        %td= client.active
        %td= client.admin
        %td= client.name
        %td= client.ak_schema_name
        %td= client.cc_schema_name
        %td= client.domain
        %td= client.ak_domain
        %td= client.master_user.name
        %td= client.master_user.email
        %td= link_to 'Show', admin_client_path(client)
        %td= link_to 'Edit', edit_admin_client_path(client)
        %td= link_to 'Deactive', admin_client_path(client), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


