%h3#notice= notice

%h3
  Show Details:
  = @client.name

= link_to "home", root_path
\|
= link_to 'clients', admin_clients_path

%div{:style => 'padding: 0px 25px 0px 110px'}
  %p
    %b Active:
    = @client.active
  %p
    %b Timezone:
    = @client.time_zone
  %p
    %b Admin:
    = @client.admin
  %p
    %b Name:
    = @client.name
  %p
    %b AK Schema name:
    = @client.ak_schema_name
  %p
    %b CC Schema name:
    = @client.cc_schema_name
  %p
    %b Administrator:
    = @client.master_user.name
  %p
    %b Admin email:
    = @client.master_user.email

  %p
    %b Page significance threshold:
    = @client.page_significance_threshold

  %p
    %b Email action threshold (what % of actions to reach within the specified timeframe):
    = @client.email_action_threshold

  %p
    %b Display timeframe (for pages and mailings):
    = @client.default_timeframe

  = link_to '{Edit}', edit_admin_client_path(@client)

