%h2
  Settings: Edit #{resource_name.to_s.humanize} Account

%div{:class => "settings"}
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f|
    = f.error_notification
    = display_base_errors resource
    = f.input :name, :autofocus => false, :inline_label => true
    %p{:style => "clear: both;"}
    = f.input :email, :required => true, :input_html => { :class => 'expanded' }
    %p{:style => "clear: both;"}
    = f.input :time_zone do
      = f.time_zone_select('time_zone', ActiveSupport::TimeZone.us_zones)
    %p{:style => "clear: both;"}
    = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true
    %p{:style => "clear: both;"}
    = f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false,  :label => "New Password"
    %p{:style => "clear: both;"}
    = f.input :password_confirmation, :required => false,  :label => "Retype New Password"
    %p{:style => "clear: both;"}

    = f.button :submit, 'Update', :class => 'btn-primary'

-#%h3 Cancel my account
-#%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
-#= link_to "Back", :back
