%h2 Sign up
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification
  = display_base_errors resource
  = f.input :name, :autofocus => true
  = f.input :email, :required => true
  = f.input :time_zone do
    = f.time_zone_select('time_zone', ActiveSupport::TimeZone.us_zones)
  = f.input :password, :required => true
  = f.input :password_confirmation, :required => true
  = f.button :submit, 'Sign up', :class => 'btn-primary'
= render "devise/shared/links"
