%div.h3-hdr
  Users

- if current_user && current_user.admin?
  %div.create-style
    = link_to '+{new user}', new_user_path

=#Signed in as #{current_user.email}. Not you?
=# link_to "Sign out", destroy_user_session_path
%p
  %br
.span8
  %table.table.table-condensed
    %tr
      %th Username
      %th Email
      %th Registered
      %th Active
      %th Role
      %th
      %th


    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.name, user
          %td= user.email
          %td= user.created_at.to_date
          %td= user.active
          %td= user.roles.first.name.titleize unless user.roles.first.nil?
          %td
            = render user
            - if current_user.admin?
              /\|
              = link_to "Show", user_path(user)
              = "\|"
              = link_to "Edit", edit_user_path(user)
              = "\|" unless user == current_user || !user.is_active?
              = link_to("Deactivate", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete)  unless user == current_user || !user.is_active?



