%h3 Create New User

= link_to "home", root_path
\|
= link_to "users", users_path
\|
Organization:
= current_client.name

%p
  %br

= render 'form'

%p
  %br
  %i
    * New users will be sent a confirmation email to complete the registration process.
