%h3 User
%p
  User: #{@user.name}
%p
  Organization: #{current_client.name}
%p
  Email: #{@user.email if @user.email}
%p
  Role: #{@user.roles.first.name.titleize}
%p
  Active: #{@user.active}
%p
  Confirmed at: #{@user.confirmed_at}
%p
  Last Login: #{@user.last_sign_in_at}
