%h3
  Forgot your password?

%div{:class => "authform"}
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f|
    %p
      We'll send password reset instructions.
      %div
        = f.label :email, :class => "box"
        = f.email_field :email, :autofocus => true, class: 'form-control'
        %div.clearfix10
        = f.submit 'Reset Password', :class => 'button right'
