- end_date = DateTime.now
- start_date = end_date - 7

- if !@mailing_rows.nil?
  %div.panel.panel-default
    %h3
      Mailings most recently sent
    %table.table
      %thead
        %tr
          %th
            ID
          %th
            Date
          %th
            Subject Line
          %th
            Sent
          %th
            Opens
          / %th
          /   Unique Opens (Rate)
          %th
            Clicks
          %th
            Actions
          %th
            Unsubs
          %th
            Complaints
          %th
            Bounces
          /%th
          /  Revenue
        %tbody
          - counter = 0
          - mailing_ids = Set.new
          - @mailing_rows.each_with_index do |r, index|

            =# Only want to display 5 emails, but a mailing can span multiple rows becuz subject lines...
            - mailing_ids.add(r['mailing_id'])
            - break if mailing_ids.size > 5

            - if email_class(@mailing_rows, r, index) != "email-subject"
              - zebra = (counter % 2 == 0 ? ' odd' : ' even')
              - counter += 1
            - else
              - zebra = ''
            %tr{ :title => "Mailing Id #{r['mailing_id']}",
                 :class => "#{email_class(@mailing_rows, r, index)} #{zebra}",
                 :data => { :mailing_id => r['mailing_id'],
                            :sent_at => r['started_at'] } }
              - if email_class(@mailing_rows, r, index) != "email-subject"
                %td.right
                  = link_to "#{r['mailing_id']}", "/email/#{r['mailing_id']}/detail"
              - else
                %td.right

              %td
                = DateTime.parse(r['started_at']).strftime('%b %d, %Y %I:%M%p')

              - if email_class(@mailing_rows, r,index) == 'email-agg'
                %td.show-subjects
                  %span.glyphicon.glyphicon-plus
                  Notes: #{r["notes"]}
              - else
                %td.subject
                  - if r['subject_id'] == '0'
                    = link_to "#{@mailing_rows[index + 1]["subject"]}", "/email/#{r['mailing_id']}/detail"
                  - else
                    = link_to "#{r["subject"]}", "/email/#{r['mailing_id']}/detail"

              %td
                = number_with_delimiter(r["sent"], :delimiter => ',')
              %td
                = number_with_delimiter(r["opens"], :delimiter => ',')
                = "(#{pct(r["opens"], r["sent"])})"
              / %td
              /   =r["opens_unique"]
              /   = "(#{pct(r["opens_unique"], r["sent"])})"
              %td
                = number_with_delimiter(r["clicks"], :delimiter => ',')
                = "(#{pct(r["clicks"], r["sent"])})"
              %td
                = number_with_delimiter(r["actions"], :delimiter => ',')
                = "(#{pct(r["actions"], r["sent"])})"
              %td
                = number_with_delimiter(r["unsubs"], :delimiter => ',')
                = "(#{pct(r["unsubs"], r["sent"])})"
              %td
                = number_with_delimiter(r["unsub_complaints"], :delimiter => ',')
                = "(#{pct(r["unsub_complaints"], r["sent"])})"
              %td
                = number_with_delimiter(r["unsub_bounces"], :delimiter => ',')
                = "(#{pct(r["unsub_bounces"], r["sent"])})"
              /%td
              /  = number_to_currency(r["revenue"])

- else
  %div
    "No results found"
