- end_date = DateTime.now
- start_date = end_date - 7

- if !@page_rows.nil?
  %div.panel.panel-default
    %h3
      Pages with most recent activity
    %table.table
      %thead
        %tr
          %th.center
            ID
          %th
            Type
          %th
            Title
          %th
            Created
          %th
            Actions
          %th
            Members
          %th
            Delta
          %th
            Revenue

      %tbody
        - @page_rows.each_with_index do |r, counter|
          %tr{ :class => [cycle("odd", "even"), page_significance(r)], :data => {:page_id => r['page_id'] } }
            %td.right
              = link_to "#{r['page_id']}", "/page/#{r['page_id']}/detail"
            %td.page-type
              = r["type"]
            %td.title
              = link_to "#{r["title"]}", "/page/#{r['page_id']}/detail"
            %td
              = DateTime.parse(r['created_at']).strftime('%b %d, %Y %I:%M%p')
            %td
              = number_with_delimiter(r["actions"], :delimiter => ',')
            %td{:class => ('negative' if r["members"].to_i < 0) }
              = number_with_delimiter(r["members"], :delimiter => ',')
            %td{:class => ('negative' if r["members"].to_i < 0) }
              = pct(r["members"], r["list_size"])
            %td
              = number_to_currency(r["revenue"])

- else
  %div
    "No results found"
