%table.table 
  %thead
    %tr
      %th
        ID
      %th
        Type
      %th
        Title
      %th
        Created
      %th
        Actions
      %th
        Members
      %th
        Delta
      %th
        Revenue
      - if !local_assigns[:show_graphit]
        %th
          Graph It!
  - if @rows.any?
    %tbody
      - @rows.each do |r|
        %tr{ :class => [cycle("odd", "even"), page_significance(r)], :data => {:page_id => r['page_id'] } }
          %td
            = link_to "#{r['page_id']}", "/page/#{r['page_id']}/detail"
            = link_to("https://#{current_client.ak_domain}/admin/core/page/#{r['page_id']}/", :target => '_blank') do
              %span.glyphicon.glyphicon-link{:title => "View page on Actionkit"}
          %td.page-type
            = r["type"]
          %td.title
            = link_to "#{r["title"]}", "/page/#{r['page_id']}/detail"
          %td
            = r["created_at"]
          %td
            = number_with_delimiter(r["actions"], :delimiter => ',')
          %td{:class => ('negative' if r["members"].to_i < 0) }
            = number_with_delimiter(r["members"], :delimiter => ',')
          %td{:class => ('negative' if r["members"].to_i < 0) }
            = pct(r["members"], r["list_size"])
          %td
            = number_to_currency(r["revenue"])
          - if !local_assigns[:show_graphit]
            %td
              %input.graph-ts.page-id{:type => "checkbox", :value => r["page_id"]}
  - else
    %tbody
      %tr
        %td{:colspan => '8'}
          Sorry, No rows returned!
