- end_date   = @filter_params[:activity_end_dt].nil?   ? DateTime.now  : DateTime.parse(@filter_params[:activity_end_dt])
- start_date = @filter_params[:activity_start_dt].nil? ? end_date - 14 : DateTime.parse(@filter_params[:activity_start_dt])

%h4{:style => "padding-left:15px;"}
  - divider = false
  Page(s)
  / page id
  - if !@filter_params[:page_ids].blank?
    Ids:
    = @filter_params[:page_ids]
    - divider = true

  / mailing id
  - if !@filter_params[:mailing_ids].blank?
    - if !divider
      - divider = true
    - else
      %span{:style => 'color: #517d94;'}
        |
    Mailing(s):
    = @filter_params[:mailing_ids]

  / tags
  - if !@filter_params[:tag_ids].blank?
    - if !divider
      - divider = true
    - else
      %span{:style => 'color: #517d94;'}
        |
    Tag(s):
    = @filter_params[:tag_ids]

  / divider for date
  - if divider
    %span{:style => 'color: #517d94;'}
      |

  Activity:
  = start_date.strftime("%b %e, %Y")
  to
  = end_date.strftime("%b %e, %Y")


- if @rows.any?
  %span#only-significant-pages
    %input{:type => :checkbox, :checked => true}
    Show Signifcant Pages Only

- if @rows.any?
  %div.chart.pages
    %div.chart-header
      %h2.chart-title.pull-left
      %div.chart-controls
    %div#SummaryEventChart
    %div#SummaryTimeSeriesChart

%div.panel.panel-default
  %div.panel-heading
    = form_tag("/pages", :method => :post, :class => "navbar-form", :id => "tableFilter") do
      %div#pageIdFilter.form-group
        = label_tag(:page_ids, "Page(s)", :class => "")
        = search_field_tag(:page_ids, "#{@filter_params[:page_ids]}", { :placeholder => "Enter Page ID(s)"})
      %div#dateFilterStart.form-group
        = label_tag(:activity_start_dt, "Activity Date", :class => "")
        = date_field_tag(:activity_start_dt, "#{@filter_params[:activity_start_dt]}", class: "start_dt")
      %div#dateFilterEnd.form-group
        = label_tag(:activity_end_dt, "", :class => "")
        To 
        =date_field_tag(:activity_end_dt, "#{@filter_params[:activity_end_dt]}", class: "end_dt")
      %div#pageIdFilter.form-group
        = label_tag(:page_ids, "Mailing Id(s)", :class => "")
        = search_field_tag(:mailing_ids, "#{@filter_params[:mailing_ids]}", {:placeholder => "Enter Mailing ID(s)"})
      %div#tagFilter.form-group
        = label_tag(:tag_ids, "Tag(s)", :class => "")
        = search_field_tag("tag_ids", "#{@filter_params[:tag_ids]}", { :placeholder => "Enter Tag ID(s)"})

      = submit_tag("Search", class: "btn btn-primary")
      = button_tag("Reset", class: "btn btn-warning", id: "reset")
      
  %table.table    
    = render partial: "list_table", locals: { show_subject: nil, overview: true }

= javascript_include_tag "dimple"
= javascript_include_tag "pages"

:javascript
  window.Page = 'pageList';
  window.Data = {};

  Data.filterParams = { 
    'tag': #{(@filter_params[:tag_ids] ? "\"#{@filter_params[:tag_ids]}\"" : 'null')},
    'page': #{(@filter_params[:page_ids] ? "\"#{@filter_params[:page_ids]}\"" : 'null')},
    // 'mailing': #{(@filter_params[:mailing_ids] ? "\"#{@filter_params[:mailing_ids]}\"" : 'null')}
    // 'domain': #{(@filter_params[:domain_ids] ? "\"#{@filter_params[:domain_ids]}\"" : 'null')},
    // 'user_source': #{(@filter_params[:user_source_ids] ? "\"#{@filter_params[:user_source_ids]}\"" : 'null')}
  }
  Data.pageListSummary = #{@summaryChartData};
  Data.pageSignificanceThreshold = #{ current_client.page_significance_threshold };

