= render partial: "tabs",  locals: {show_context_label: @page.id}
= render partial: "page_details", locals: {show_chart: true}


- #global calculations begin
- total_actions = total_members = total_subscribers = total_revenue = 0
- @rows.each do |r|
  - total_actions += r["actions"].to_i
  - total_members += r["new_members"].to_i
  - total_subscribers += r['new_subscribers'].to_i
  - if @page.type == 'Donation'
    - total_revenue += r['revenue'].to_f
- #global calculations end

%div.row
  %div#PageDetailEventChart

%table.table
  %thead
    %tr
      %th
        ID
      %th
        Source
      %th
        Actions
      %th
        New Members
      %th
        Re-Subscribers
      - if @page.type == 'Donation'
        %th
          Revenue

  %tbody
    %tr{:style => "background: #F39C12;"}
      %td
      %td <b>Total</b>
      %td
        %b
          = number_with_delimiter(total_actions, :delimiter => ',')
      %td
        %b
          = number_with_delimiter(total_members, :delimiter => ',')
      %td
        %b
          = number_with_delimiter(total_subscribers, :delimiter => ',')
      - if @page.type == 'Donation'
        %td
          %b
            = number_to_currency(total_revenue)

    - counter = 0
    - @rows.each do |r|
      - zebra = (counter % 2 == 0 ? ' even' : ' odd')
      - counter += 1
      %tr{:class => "#{zebra}"}
        %td
          = r['source_id']
        %td.left
          = r['source']
        %td
          = number_with_delimiter(r['actions'], :delimiter => ',')
          = "(#{pct(r["actions"], total_actions)})"
        %td{:class => ('negative' if r["members"].to_i < 0) }
          = number_with_delimiter(r['new_members'], :delimiter => ',')
          = "(#{pct(r["new_members"], total_members)})"
        %td
          = number_with_delimiter(r['new_subscribers'], :delimiter => ',')
          = "(#{pct(r["new_subscribers"], total_subscribers)})"
        - if @page.type == 'Donation'
          %td
            = number_to_currency(r['revenue'])

-# associated actionfields
  .row
  - @fields.each do |key, value|
    - if key == "comment"
      .col-lg-3.text-center
        .panel.panel-info
          .panel-heading
            .row
              .col-xs-6
                %i.fa.fa-comments.fa-5x
              .col-xs-6.text-right
                %p.announcement-heading
                  = number_with_delimiter(value, :delimiter => ',')
                %p.announcement-text
                  = key + "s"
    - elsif (!key.include? "sharetrack") && !(key == "id")
      .col-lg-3.text-center
        .panel.panel-info
          .panel-heading
            Action Field:
            = key
            .panel-body.text-center
              Count:
              = value

= javascript_include_tag 'dimple'
= javascript_include_tag 'pages'

:javascript
  window.Page = 'pageActionSource';
  window.Data = {};
  Data.pageSource = #{@chartData};
  var akPageType = '#{@page.type}';


