/* ==================================================================
   Base Styles for CEL-Center 
   Primary Author: @mvattuone, Citizen Engagement Laboratory
================================================================== */

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ==================================================================
    VARIABLES
================================================================== */

$teal: #27828F;
$red: #EA4A3C;
$green: #9DD938;
$orange: #f89b50;
$brown: #B07D4E;
$black: #222;
$white: #FFF;
$grey:#8C7D70;
$beige: #FCF9ED;
$taupe: #DED6CC;
$offwhite: #F2EEEA;

$table-th: #555555;
$table-tr-even: #CCCCCC;
$table-tr-expanded: #E5E5E5;
$reset-btn: #F39C12;
$search-btn: #517d94;
$filter-box: #E5E5E5;
/*#666666 */

/* ==================================================================
    MIXINS
================================================================== */

.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

/* ==================================================================
    PRIMARY STYLES
================================================================== */

main {
  background-color:$white;
  margin-top:0;
  padding-bottom:0;
  overflow: hidden;
}

.settings {
  margin-left: 20px;
}

.modal-body {
  position: relative;
  z-index: 200;
  width: auto;
  height: 100px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background: #fff;
}

// Enable drop-down activation on hover, but only if the the navbar is not collapsed.
@media (min-width: 768px) { 
  .dropdown:hover .dropdown-menu {
      display: block;
  }
}

// Given the blue background, set the font color for drop down menus when the navbar is collapsed.
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
}

.navbar {
  font-family: 'Open Sans', Helvetica, sans-serif;

  background: #56859e;
  background: -moz-linear-gradient(top, #6794ac 0%, #486f84 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6794ac), color-stop(100%, #486f84));
  background: -webkit-linear-gradient(top, #6794ac 0%, #486f84 100%);
  background: -o-linear-gradient(top, #6794ac 0%, #486f84 100%);
  background: -ms-linear-gradient(top, #6794ac 0%, #486f84 100%);
  background: linear-gradient(to bottom, #6794ac 0%, #486f84 100%);  background-color:$table-th;

  color:$white;
  border: 0;
  border-radius: 0;
  margin-bottom: 0px;

  .navbar-brand {
    padding: 0 0 0 15px;
  }

  .navbar-toggle {
    .icon-bar {
      background-color: #eee;
    }
  }

  ul.navbar-nav .caret {
    margin-left: 8px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
  }

  ul.navbar-nav > li > a {
    padding: 14px 25px 17px 25px;
    border-right: 1px solid rgba(80, 80, 80, 0.12);
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  ul.navbar-nav > li:hover > a,
  ul.navbar-nav > li > a:hover,
  ul.navbar-nav > li.active > a {
    color: #000;
    background: #517d94;
    background: rgba(0, 0, 0, 0.1);
  }

  li#lastSync {
    a {
      font-size: 10px;
      font-weight: 700;
      color: #ccc;
      text-transform: none;
      padding-right: 0;
      border: 0;
    }
  }

  .navbar-form {
    margin-right: 10px;
    margin-top: 14px;
    font-size: 10px;
    select {
      color: $black;
    }
  }
}

ul.nav-tabs.detail li.last {
  // required to remove a vertical line after the last nav tab on mailing detail pages
  border-right: 0px;
}

#clientSelect form {
  margin-top: 13px;
}

#chart {
    height:330px;
    margin-bottom:20px;
}

.chart-header { 
    @extend .clearfix;
    .chart-title,
    .chart-metrics,
    .chart-normalization {
        display:inline-block;
        margin:0;
    }
    .chart-normalization { clear:both }
}

.chart-header-custom {
  padding-left: 15px;
}

#bar {
    height:400px;
}

.show-subjects {
    cursor:pointer;
}

.table thead {
    background-color: $table-th;
    color:$white;
}

.table tr.even {
    background-color:$table-tr-even;
}

.chart-metrics span {
    float: left;
    margin-right: 10px;
    position: relative;
    top:4px;
    font-weight: bold;
}

.chart-metrics input[type="checkbox"] {
   position: absolute;
   top: -9999px;
   left: -9999px;
   &:checked + label {
        background-color: #dfdfdf;
        background-image: -webkit-linear-gradient(top, #d1d1d1, #e0e0e0);
        background-image: -moz-linear-gradient(top, #d1d1d1, #e0e0e0);
        border-color: #aaa;
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
        color: #222;
   }
}

.chart-metrics label {
    display: block;
    float: left;
    background-color: #fdfdfd;
    padding: 7px 10px;
    font: bold 11px Verdana;
    color: #444;
    border: 1px solid #ddd;
    background-image: -webkit-linear-gradient(top,#fdfdfd,#f5f5f5);
    background-image: -moz-linear-gradient(top,#fdfdfd,#f5f5f5);
    cursor: pointer;
    min-width: 20px;
    text-align: center;
}

.disclaimer {
  vertical-align: bottom; 
  padding-left: 10px; 
  font-style: italic; 
  font-size: 10px; 
  line-height: 12px;
}

#tableFilter {
    padding:0;
    margin:0;
    label { 
        display:block;
    }
    input {
        line-height:18px;
    }
}

#dateFilterToggle,
#tableFilter .btn,
#dateFilterEnd { 
    position:relative;
    top:9px;
}

#tableFilter .btn .btn-primary {
  position:relative;
  top:9px;
  background-color: $search-btn;
  border-color: $search-btn;
}

#tableFilter .btn .btn-warning {
  position:relative;
  top:9px;
  background-color: $reset-btn;
  border-color: $reset-btn;
}

.table .subject, 
.table .show-subjects {
    text-align:left;
    max-width:530px;
}

table tr td.title,
table tr td.page-type,
table th.left, 
table tr td.left {
  text-align: left;
}

table th.center,
table td.center {
  text-align: center;
}

table th.right,
table td.right {
  text-align: right;
}

.table tbody tr.email-subject {
    background-color:$table-tr-expanded;
    border:0;
    display:none;
    &.show-subject {
        display:table-row !important;
    }
    td.subject > div.active { padding-left:26px; }
    td {
        background-color:$table-tr-expanded;
    }
}

.table > tbody > tr > td,
.table > thead > tr > th {
    padding:8px 5px;
    font-size:10px;
}

/* OVERVIEW styling */
div#overview {
  width: 100%;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;

  #controls {
    margin-left: 0;
    margin-right: 0.5%;
    margin-bottom: 15px;
    font-size: 10px !important;
    ul, td {
      font-size: 10px !important;
    }
    #tfBtns input {
      margin-left: 6px;
      margin-top: 3px;
      vertical-align: top;
    }
  }

  #legend {
    table {
      float: right;
      cursor:pointer;
      .legendColorBox {
        div {
          border:1px solid #ccc;
          padding:1px;

          div {
            width:4px;
            height:0;
            overflow:hidden
          }
        }
        padding-left: 8px;
        padding-right: 2px;
      }
      td.legendColorBox#Actions    div div { border:5px solid rgba(39, 174, 96, 1.0); }
      td.legendColorBox#NewMembers div div { border:5px solid rgba(44,  45, 80, 1.0); }
      td.legendColorBox#Unsubs     div div { border:5px solid rgba(192, 57, 43, 1.0); }
      td.legendColorBox#Mailable   div div { border:5px solid grey; }
    }
  }

  #overviewChart {
    height: 373px;
  }
}

/* Overview styling end */

#SummaryEventChart,
#MailingDetailEventChart,
#MailingUserSourceEventChart { 
  height:243px;
  margin-top:5px; /* for the legend */
}

#SummaryUnsubChart,
#MailingDetailUnsubChart,
#MailingUserSourceUnsubChart { 
  height:130px;
  margin-bottom:15px; 
}

#SummaryTimeSeriesChart { 
  display: none;
}

.send-count { 
  stroke:white;
  stroke-width:0.40px;
  text-anchor: middle;
  font-size: 11px;
  fill: #777;
}
  

#MailingDomainsTimeSeriesChart,
#MailingIntervalChart, 
#SummaryTimeSeriesChart,
.pages #SummaryEventChart,
#PageDetailEventChart {
    margin-top:5px;
    height:373px;
    margin-bottom:15px;
    path {
      &.dimple-series-1,
      &.dimple-clicks { stroke-dasharray: (6, 2) }  // clicks
      &.dimple-series-2,
      &.dimple-actions { stroke-dasharray: (2, 3) }  // actions
      &.dimple-unsubs { stroke-dasharray: (4, 4)}
    }
}

.mailings .panel-heading {
  z-index:10000;
}

.panel-heading {
  background-color: #E5E5E5;
  @extend .clearfix;
}
.tooltip { opacity: 1 !important; }


#MailingUserSourceEventChart circle {
  fill: rgb(251, 128, 114);
  stroke: rgb(251, 128, 114);
}

.pages #SummaryEventChart circle,
#SummaryUnsubChart circle,
#SummaryTimeSeriesChart circle,
#MailingDomainsTimeSeriesChart circle,
#MailingDetailEventChart circle,
#MailingDetailUnsubChart circle { 
    visibility:hidden !important;
    &.markers { 
        visibility: visible !important;
    }
}

.summary p {
  margin-bottom:0;
  text-indent: 10px;
}

.first-hour,
.reached-at {
  display:inline-block;
}

.mailings.panel {
  max-width: 1140px;
  margin:0 auto;
}

.panel-heading {
  .threshold,
  .time-metrics {
    h3 { margin:0 }  
  }
}

.time-metrics {
  h3 { 
    display:inline-block; 
    &:first-child { float:left; } 
    &:last-child { float:right; }
  }
}


td.negative {
  color: #f00;
}

#only-significant-pages {
  font-size: 12px;
  padding-left: 17px;
}

tr.not-significant {
  display: none;
}

.slidingDiv {
  display:inline-block;
  height:0;
  margin-bottom: 0;
  -webkit-transition: height .3s linear;
  overflow:hidden;
  &.active {
    height:53px;
    -webkit-transition: height .3s linear;
  }
  > div, .disclaimer { 
    display:inline-block; 
    vertical-align:top;
  }
}

#sourceFilter {
  > ul {
    display:inline-block;
  }
}

.h3-hdr {
  float:left;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0px;
}

.create-style a {
  float: right;
  font-size: 18px;
  padding: 26px 0px;
  vertical-align: top;
  color: $grey;
}

.create-style a:hover {
  float: right;
  font-size: 18px;
  padding: 26px 0px;
  vertical-align: top;
  color: $white;
}

.clearfix10 {
  clear: both;
  padding: 10px 0px;
}

.clearfix1 {
  clear: both;
  padding: 1px 0px;
}

/* SimpleForm */
.simple_form label {
  float: left;
  width: 130px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form label.box {
  float: left;
  text-align: right;
  margin: 2px 10px;
  width: 0px;
  display: inline-block;
  white-space: nowrap;
}

.simple_form input[type="text"], input[type="email"].expanded {
  width: 400px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form input[type='submit'].padded {
  color: $white;
  margin-left: 120px;
  background-color: $search-btn;
  border-color: $search-btn;
}

.simple_form div.boolean-flush  {
  margin-left: 0px;
}

.simple_form input[type='submit'].btn {
  margin-top:10px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: left;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form input[type="checkbox"], .checkbox-inline input[type="checkbox"]  {
  margin-left: 20px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

.simple_form .form-horizontal, div.modal{
  padding: 20px 300px 0px 300px;
}

.simple_form .radio_buttons label{
  margin-left: 20px;
  padding-right: 20px;
}

/* Dimple Custom Styles */


/* for aggregate columns */
.dimple--4, .dimple--3, .dimple--2, .dimple--1 {
  opacity:0.6;
}

/* user source and mailing lines */
.dimple-series-1.dimple-line.dimple-all {
  stroke:rgb(107, 148, 176);
}

.announcement-heading {
  font-size: 35px;
  padding-top:15px;
  margin: 0;
}

.announcement-text {
  margin: 0;
  padding-top:10px;
}